body {
    margin: 0;
    height:min-content;
    overflow-x: hidden;
}

header {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header h3 {
    padding: 10px;
    display: inline-block;
}

input {
    display: none;
}

.aboutMe {
    text-align: center;
    position: relative;

    background-image: url('./images/whoAmI.png');
    background-repeat: repeat;
    background-size: contain;

}

.background {
    padding: 1rem;
    border-bottom: 3px solid #000;
}

.musashi1 {
    width: 285px;
    z-index: 1;
}

.dropdown {
    position: relative;
}


/* BUTTON ANIMATION */

.Bg,
.Bg2,
.Bg3,
.Bg4 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    left: 4rem;
    top: -2rem;
    border: 4px solid #000;
    cursor: pointer;
}

.Icon,
.Icon2,
.Icon3,
.Icon4 {
    left: 5.5rem;
    top: 0.4rem;
    width: 2rem;
    z-index: 2;
    height: 0.3rem;
    position: absolute;
    cursor: pointer;
}

.Icon::before,
.Icon::after,
.Icon2::before,
.Icon2::after,
.Icon3::before,
.Icon3::after,
.Icon4::before,
.Icon4::after {
    content: '';
    width: 2rem;
    height: 0.3rem;
    background-color: black;
    position: absolute;
    display: block;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}


.Icon::before,
.Icon2::before,
.Icon3::before,
.Icon4::before {
    transform: rotate(45deg);
    left: -0.6rem;
}

.Icon::after,
.Icon2::after,
.Icon3::after,
.Icon4::after {
    transform: rotate(135deg);
    left: 0.6rem;
}

#toggle:checked~.Icon::after {
    transform: rotate(-135deg);

}


#toggle:checked~.Icon::before {
    transform: rotate(-45deg);
}

/* dropdown 1 */
.content {
    padding: 0 2.5rem;
    text-align: left;
    max-height: 0;
    overflow: scroll;
    background-color: #f1f1f1;
    border-bottom: solid #000;
    transition: all 0.8s cubic-bezier(1, 0, 0, 1);
}

#toggle:checked~.content {
    max-height: 100vh;
}

.WAcontainer {
    padding: 3rem;
    display: flex;
    font-family: Inter, sans-serif;

}

.WAcontainer h2 {}

.WAcontainer h1 {
    font-size: 3.5vw;
    margin: 0;
}

.WAcontainer img {
    width: 500px;
    object-fit: cover;
    height: auto;
    border: 5px solid #000;
    border-radius: 40px;
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 1.5rem
}

/* MY SKILLS SECTION */

.mySkills {
    background-image: url('./images/mySkills.png');
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
}

.musashi2 {
    margin: auto;
    width: 470px;
}

#toggle2:checked~.Icon2::after {
    transform: rotate(-135deg);

}

#toggle2:checked~.Icon2::before {
    transform: rotate(-45deg);
}

#toggle2:checked~.content {
    max-height: 100vh;
}

.MScontainer {
    padding: 2rem;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
}

.skills h2 {
    margin: 0;
}

.skills {
    display: flex;
    
    margin: 10px;

    padding: 10px;
    justify-content: center;
    column-gap: 50px;
}


.Skills_title {
    text-align: center;
    border-bottom: 2px solid #000;
    padding: 5px;
    margin: 0;
}

.languages,
.tools,
.soft {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
}

.topics ul {
    margin: 0;
    padding: 0;
}

.topics li {
    padding: 10px 20px;
    font-size: large;
    list-style: none;
    border-bottom: 2px dotted #000;
}

/* MY WORK SECTION */

.myWork {
    background-image: url('./images/myWork.png');
    background-repeat: repeat;
    background-size: contain;
    position: relative;
    text-align: center;
}

.musashi3 {
    width: 380px;
    margin: auto;
}

#toggle3:checked~.Icon3::after {
    transform: rotate(-135deg);

}

#toggle3:checked~.Icon3::before {
    transform: rotate(-45deg);
}

#toggle3:checked~.content {
    max-height: 100vh;
}

.MWcontainer {
    padding: 2rem;
    font-family: Inter, sans-serif;
}

.project {
    display: flex;
    border: 2px dotted #000;
}

.preview img {
    width: 700px;

}

.description {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem;

}

/* SOCIAL MEDIA SECTION */

.socialMedia {
    background-image: url('./images/socialMedia.png');
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
}

.musashi4 {
    margin: auto;
}

#toggle4:checked~.Icon4::after {
    transform: rotate(-135deg);

}

#toggle4:checked~.Icon4::before {
    transform: rotate(-45deg);
}

#toggle4:checked~.content {
    max-height: 100vh;
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1vw;
    font-family: Inter, sans-serif;
    
}

.SCcontainer {
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.SCcontainer img {
    width: 7vw;
}

.user {
    text-align: center;
    padding: 15px;
    font-family: Inter, sans-serif;
    font-size: 2vw;
    font-weight: 500;
}

.user a {
    text-decoration: none;
    color: #000;
}

/* ---------------------SMALLER DEVICE VERSION---------------------------------------------*/


@media only screen and (max-width:1300px) {

    /* WHO AM I SECTION */
    .WAcontainer img {
        width: 30vw;
        height: 30vw;
        border-radius: 100%;
        border: 3px;
        margin: auto;
    }

    .WAcontainer {
        padding: 3rem 0;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .bio {
        padding: 0;
        font-size: 2vw;
    }

    body {
        text-align: center;
    }

    /*MY WORK SECTION*/
    .MWcontainer {
        text-align: center;
        padding:0;
    }
    
    .preview img {
        width: 100%;
        height: auto;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: none;
        border-bottom: 2px dotted #000 ;
    }

    .description {
        font-weight:normal;
        text-align: left;
        padding: 0;
    }

    /*butttons*/
    .Bg,
    .Bg2,
    .Bg3,
    .Bg4 {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        background-color: #fff;
        left: 0.8rem;
        top: -2rem;
        border: 4px solid #000;
        cursor: pointer;
    }

    .Icon,
    .Icon2,
    .Icon3,
    .Icon4 {
        left: 2.3rem;
        top: 0.4rem;
        width: 2rem;
        z-index: 2;
        height: 0.3rem;
        position: absolute;
        cursor: pointer;
    }
}

/* MY SKILLS SECTION*/
@media only screen and (max-width: 720px) {

    .skills {
        flex-direction: column;
        align-self:flex-start;
        gap: 20px;
    }
    .Skills_title,.topics li{
        font-size: 3vw;
    }
    .musashi1,
    .musashi2,
    .musashi3,
    .musashi4 {
        width:35vw;
    }

    .Bg,
    .Bg2,
    .Bg3,
    .Bg4 {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        background-color: #fff;
        left: 0.8rem;
        top: -1rem;
        border: 2.7px solid #000;
        cursor: pointer;
    }

    .Icon,
    .Icon2,
    .Icon3,
    .Icon4 {
        left: 1.1rem;
        top: 0rem;
        width: 0.1rem;
        z-index: 2;
        height: 0.1rem;
        position: absolute;
        cursor: pointer;
    }

    .Icon::before,
    .Icon::after,
    .Icon2::before,
    .Icon2::after,
    .Icon3::before,
    .Icon3::after,
    .Icon4::before,
    .Icon4::after {
        content: '';
        width: 1rem;
        height: 0.2rem;
        background-color: black;
        position: absolute;
        display: block;
        transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    }

    .Icon::before,
    .Icon2::before,
    .Icon3::before,
    .Icon4::before {
        transform: rotate(45deg);
        left: -0rem;
    }

    .user{
        display: flex;  
        padding: 3px 0;
        text-align: center;
    }

    .logo{
        display: flex;
        gap: 10px;
    }

    .logo img{
        width: 5vw;
    }

    .SCcontainer{
        flex-direction: column ;
        gap: 10px;

    }
}