body {
    margin: 0;
    overflow-x: hidden;
}

input{
    display: none;
}

.aboutMe {
    border-bottom: 5px;
    border-style: solid;
    border-right: 0;
    background-image: url('./images/whoAmI.png');
    background-repeat: repeat;

}

.musashi1 {
    position: absolute;
    width: 285px;
    left: 834px;
    top: 10px;
    z-index: 1;
}


.aboutMe .button {
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #CAE4E5;
    border-radius: 100%;
    left: 4rem;
    top: 29.6rem;
    
}

/* BUTTON ANIMATION */

label{
   
    width: 2rem;
    height: 0.3rem;
    position: absolute;
    cursor: pointer;
    


}    
label::before,
label::after{
    content: '';
    width: 2rem;
    height: 0.3rem;
    background-color: black;
    position: absolute;
    display: block;
    transition: all 0.6s cubic-bezier(1,0,0,1);
}


label::before{
    transform: rotate(45deg);
    left: -0.6rem;
}
label::after{
    transform: rotate(135deg);
    left: 0.6rem;
}

#toggle:checked ~label::after{
    transform: rotate(-135deg);
    
}


#toggle:checked ~ label::before{
  transform: rotate(-45deg);
}
